.env
.env.*
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
/build/
/build_output/
/develop-eggs/
/dist/
/downloads/
/eggs/
.eggs/
lib/
lib64/
parts/
/sdist/
/var/
/wheels/
*.egg-info/
.installed.cfg
*.egg
.ruff_cache/
.python-version
*.key
discord.log
*.mp3
*.mp4
*.wav
.mypy_cache
discord-ext-voice-recv
.arc
