build==1.4.0
    # via pip-tools
click==8.3.1
    # via pip-tools
iniconfig==2.3.0
    # via pytest
packaging==26.0
    # via
    #   build
    #   pytest
    #   wheel
pip-tools==7.5.3
    # via -r requirements-dev.in
pluggy==1.6.0
    # via pytest
pygments==2.19.2
    # via pytest
pyproject-hooks==1.2.0
    # via
    #   build
    #   pip-tools
pytest==9.0.2
    # via
    #   -r requirements-dev.in
    #   pytest-asyncio
pytest-asyncio==1.3.0
    # via -r requirements-dev.in
ruff==0.15.2
    # via -r requirements-dev.in
types-requests==2.32.4.20260107
    # via -r requirements-dev.in
urllib3==2.6.3
    # via types-requests
wheel==0.46.3
    # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
