aiohappyeyeballs==2.6.1
    # via aiohttp
aiohttp==3.13.3
    # via
    #   -r requirements.in
    #   discord-py
aiosignal==1.4.0
    # via aiohttp
attrs==25.4.0
    # via aiohttp
audioop-lts==0.2.2
    # via discord-py
cffi==2.0.0
    # via pynacl
discord-ext-voice-recv==0.5.2a179
    # via -r requirements.in
discord-py==2.6.4
    # via
    #   -r requirements.in
    #   discord-ext-voice-recv
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
idna==3.11
    # via yarl
multidict==6.7.1
    # via
    #   aiohttp
    #   yarl
nest-asyncio==1.6.0
    # via -r requirements.in
opuslib==3.0.1
    # via -r requirements.in
propcache==0.4.1
    # via
    #   aiohttp
    #   yarl
pycparser==3.0
    # via cffi
pynacl==1.5.0
    # via
    #   -r requirements.in
    #   discord-py
python-dotenv==1.2.1
    # via -r requirements.in
yarl==1.22.0
    # via aiohttp
yt-dlp==2026.2.21
    # via -r requirements.in
