build==1.2.2.post1
    # via pip-tools
click==8.2.1
    # via pip-tools
iniconfig==2.1.0
    # via pytest
packaging==25.0
    # via
    #   build
    #   pytest
pip-tools==7.4.1
    # via -r requirements-dev.in
pluggy==1.6.0
    # via pytest
pygments==2.19.1
    # via pytest
pyproject-hooks==1.2.0
    # via
    #   build
    #   pip-tools
pytest==8.4.0
    # via -r requirements-dev.in
ruff==0.11.13
    # via -r requirements-dev.in
types-requests==2.32.0.20250602
    # via -r requirements-dev.in
urllib3==2.4.0
    # via types-requests
wheel==0.45.1
    # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
